
/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* Lightest (Text):         #E8E9EB     (text, contrast with dark)
* Dark Green (Primary):    #240404
* Light Green (Secondary): #5E3A27      (canvas background)
* Reddish-Brown (Accent):  #CB793A
*/

.bg-info {
    background-color: #5E3A27 !important;
    /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #E8E9EB;
    /* Dark green for brand name & nav links for visibility */
}

.btn-info {
    color: #E8E9EB;
    /* Lightest shade for text on info button for contrast */
    background-color: #5E3A27;
    /* Light green for button background */
    border-color: #240404;
    /* Dark green for button border */
}

.btn-primary {
    color: #E8E9EB;
    /* Lightest shade for text */
    font-size: 150%;
    background-color:#240404;
    /* Dark green for primary button background */
    border-color: #CB793A;
    /* Reddish-brown for border to use as accent */
    border-width: thick;
}
.btn-primary:hover{
    background-color: #CB793A;
        /* Dark green for primary button background */
    border-color: #240404;
}
body {
    background-color: #E8E9EB;
    /* Lightest shade for body background to follow the 60% rule */
}