
/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* Lightest (Text):         #DAD6D6    (text, contrast with dark)
* Rose taupe (Primary):    #7D4E57
* yellow (Secondary): #F4AC45      (canvas background)
* green-ish blue (Accent):  #92BFB1
*/

.bg-info {
    background-color: #7D4E57 !important;

}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #DAD6D6;

}

.btn-info {
    color: #DAD6D6;
    background-color: #7D4E57;
  
    border-color: #F4AC45;

}

.btn-primary {
    color: #DAD6D6;
    font-size: 150%;
    background-color:#7D4E57;
    border-color: #F4AC45;
}
.btn-primary:hover{
    background-color: #F4AC45;
    border-color: #7D4E57;
}
body {
    background-color: #DAD6D6;

}

.navbar-brand {
    font-family: 'Rubik', sans-serif;
    font-weight:600;
    font-size: 2.25rem;
}

form {
    max-width: auto;
    min-width: auto;
    margin: 10px;
    padding: 1em;
}

.btn {
    background-color: #7D4E57;
}

.btn:hover{
    background-color: #F4AC45;
}